.Hodanalytics{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 45px;
}

.Hodanalytics .Hodanalytics_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    color: black;
    background: var(--color-white);
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(136, 136, 136, 0.8);
    transition: all 300ms ease;
}

.Hodanalytics .Hodanalytics_icon:hover{
    cursor: pointer;
}