.acct-hero_container{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 30px;
    place-items: center;
    /* background: red; */
    width: 100%;
    height: 50vh;
    margin: 100px 30px;
}

.acct-hero_container .acct_update{
    /* background: blue; */
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    width: 100%;
    height: 80vh;
    border-radius: 7px;
}

.acct-hero_container .acct_update form .field{
    display: grid;
    grid-template-columns: 1fr;
    padding: 11px;
    margin-bottom: -10px;
}
.acct-hero_container .acct_update form .field input{
    text-transform: capitalize;
}
.acct-hero_container .acct_update form .field input.email{
    text-transform: lowercase;
}

.acct-hero_container .acct_info{
    /* background: purple; */
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 80vh;
    margin-left: 5px;
    border-radius: 7px;
    transition: all 300ms ease;
}

.acct-hero_container .acct_info:hover{
    box-shadow: none;
}

.acct-hero_container .acct_info .profile_icon{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background: green; */
    width: 100%;
    height: 32%;
    padding: 10px;
    font-size: 100px;
}

.acct-hero_container .acct_info .profile_icon .icon{
    display: grid;
    place-items: center;
    /* background: pink; */
    padding: 10px;
    border-radius: 50%;
    margin-bottom: -30px;
    transition: all 300ms ease;
}

.acct-hero_container .acct_info .profile_icon .logout{
    position: absolute;
    right: 148px;
}

.acct-hero_container .acct_info .profile_icon .icon:hover{
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.acct-hero_container .acct_info .acct_org_info{
    /* background: gray; */
    padding: 15px;
    margin-top: 20px;
}

.acct-hero_container .acct_info .acct_org_info form .field{
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
}
.acct-hero_container .acct_info .acct_org_info form .field input{
    text-transform: capitalize;
}
.acct-hero_container .acct_info .acct_org_info form .field input.email{
    text-transform: lowercase;
}