.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 40px;
}

.profile .info{
    margin-right: 50px;
}

.profile .profile-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* background: red; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    /* background: var(--color-white); */
    transition: all 300ms ease;
}

.profile .profile-icon:hover{
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.profile .options{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    top: 70px;
    margin-left: 170px;
    border-radius: 3px;
    /* background: var(--color-white); */
}

.profile .options p{
    padding: 3px;
    cursor: pointer;
    transition: 0.3s ease;
    white-space: nowrap;
}

.profile .options p.prof{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: var(--color-white);
    box-shadow: rgba(94, 255, 153, 0.44) 0px 3px 8px;
}
.profile .options p.prof:hover{
    color: green;
    box-shadow: none;
}

.profile .options p.log{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: var(--color-white);
    box-shadow: rgba(255, 118, 94, 0.44) 0px 3px 8px;
}
.profile .options p.log:hover{
    color: red;
    box-shadow: none;
}
.proficon{
    color: rgb(67, 115, 67);
    margin-left: 10px;
}
.logicon{
    color: rgb(155, 64, 64);
    margin-left: 10px;
    transition: 0.3s ease;
}

.account_info {
    position: fixed !important;
    z-index: 1000 !important;
    margin-top: 80px;
    margin-left: 820px;
    width: 33%;
    height: 26.5%;
    background: var(--color-white);
    box-shadow: 0rem 0rem 1rem 0.2rem rgba(176, 176, 176, 0.3);
    border-radius: 5px;
}

.account_info .close{
    position: fixed;
    display: inline-block;
    z-index: 100;
    padding: 5px 0px;
    height: 30px;
    width: 33%;
    transition: 0.3s ease;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: var(--color-white);
    box-shadow: 0rem 0.1rem 0rem 0rem rgb(222, 222, 222, 0.5);
}

.account_info .close .close_icon{
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.account_info .close .close_icon:hover{
    color: red;
}

.account_info form {
    margin-top: 30px;
    padding: 5px;
}

.account_info form .field{
    display: grid;
    white-space: nowrap;
    grid-template-columns: 40% 60%;
    margin-bottom: 13px;
    margin-left: -40px;
}

.account_info form .field label{
    margin-left: 40px;
}

.account_info form .field p{
    margin-left: 17px;
}

.account_info form .field p.extra{
    position: absolute;
    margin: 20px 198px;
}