.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 40px;
}

.profile .info{
    margin-right: 50px;
}

.profile .profile-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* background: red; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    /* background: var(--color-white); */
    transition: all 300ms ease;
}

.profile .profile-icon:hover{
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.profile .options{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    top: 55px;
    margin-left: 170px;
    border-radius: 3px;
    /* background: var(--color-white); */
}

.profile .options p{
    padding: 3px;
    cursor: pointer;
    transition: 0.3s ease;
    white-space: nowrap;
}

.profile .options p.prof{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: rgba(94, 255, 153, 0.44) 0px 3px 8px;
}
.profile .options p.prof:hover{
    color: green;
    box-shadow: none;
}

.profile .options p.log{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: rgba(255, 118, 94, 0.44) 0px 3px 8px;
}
.profile .options p.log:hover{
    color: red;
    box-shadow: none;
}
.proficon{
    color: rgb(67, 115, 67);
    margin-left: 10px;
}
.logicon{
    color: rgb(155, 64, 64);
    margin-left: 10px;
    transition: 0.3s ease;
}