.unit_container{
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 10px;
    place-items: center;
    /* background: purple; */
    width: 100%;
    height: 40vh;
    margin: 70px 30px;
}

.unit_container .unit_table{
    /* background: blue; */
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    /* background: red; */
    width: 100%;
    height: 70vh;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.unit_container .unit_form{
    /* background: var(--color-white); */
    /* box-shadow: var(--box-shadow); */
    transition: all 300ms ease;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    /* background: red; */
    width: 100%;
    height: 67vh;
    margin-top: 6px;
    border-radius: 7px;
}

.unit_container .unit_form .unit_department{
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    /* background: red; */
    width: 100%;
    height: 15vh;
    padding: 7px;
    border-radius: 7px;
}

.unit_container .unit_form .unit_department input{
    width: 100%;
    margin-top: 20px;
}

.unit_container .unit_form .unit_update{
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    /* background: red; */
    width: 100%;
    height: 23vh;
    padding: 2px;
    border-radius: 7px;
}

.unit_container .unit_form .unit_create{
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    /* background: red; */
    width: 100%;
    height: 23vh;
    padding: 2px;
    border-radius: 7px;
}

/* .unit_container .unit_form:hover{
    box-shadow: none;
} */
  
.unit_container .unit_form .field{
    display: grid;
    grid-template-columns: 1fr;
    padding: 6px;
    margin-bottom: -10px;
}