.datatables{
    height: 70vh;
    overflow: auto;
}

.datatables::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}
.datatables::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: var(--color-info-light);  
}

.sc-bjfHbI{
    font-size: 18px;
}

.datatables .hover{
    color: rgb(208, 207, 207);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.datatables .hover:hover{
    color: black;

}

.employee_table{
    box-shadow: var(--box-shadow);
    height: 76vh;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.green{
    background-color: rgb(211, 245, 211);
    color: green;
    padding: 3px 10px;
    border-radius: 8px;
}

.red {
    background-color: rgb(252, 216, 216);
    color: red;
    padding: 3px 10px;
    border-radius: 5px;
}

.warning{
    background-color: rgb(247, 247, 231) ;
    color: rgb(156, 156, 6);
    padding: 3px 10px;
    border-radius: 8px;
}

.employee_plus .plus {
    position: absolute;
    display: grid;
    place-items: center;
    padding: 8px;
    top: 69px;
    right: 120px;
    font-size: 20px;
    background-color: var(--color-white) ;
    box-shadow: 0 0rem 2rem rgb(128, 128, 128, 0.2);
    border-radius: 50%;
    cursor: pointer;
}

.enrollment-container {
    position: absolute;
    opacity: 0.9;
    z-index: 2;
    top: 110px;
    width: 65.3%;
    height: 76%;
    border-radius: 5px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    overflow: auto;
}

.enrollment-container .close {
    position: fixed;
    background: var(--color-white);
    width: 65.3%;
    height: 35px;
}

.enrollment-container .close .close_btn{
    position: absolute;
    display: grid;
    place-items: center;
    top: 10px;
    right: 10px;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.enrollment-container .close .close_btn:hover {
    color: red;
}

/* .enrollment-container{
    margin:100px 30px;
    height: 80vh;
    position: fixed;
    margin-left: 300px;
    width: 63vw;
    background: red;
    border-radius: var(--border-radius-1); 
}  */

.enrollment-container::-webkit-scrollbar{
    display: none;
}

.enrollment-container form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    background:var(--color-white);
    padding: 8px;
    margin-top: 30px;
    /* background: rebeccapurple; */
}
  
.enrollment-container form .field{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
  
.enrollment-container form .field .street{
    margin-bottom: 40px;
    text-transform: none;
}
  
.enrollment-container form .field.selectables{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
  
.enrollment-container form .field.selectables select{
    /* position: absolute; */
    /* margin: 40px 296px; */
    background: var(--color-info-light);
    outline: none;
    border: none;
    /* height: 2rem; */
    padding: 0 10px;
    width: 7vw;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
}
  
/* .enrollment-container form .field textarea{
    width: 201.9%;
    height: 80px;
    background: var(--color-info-light);
    outline: none;
    border: none;
    height: 5rem;
    padding: 10px;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
}
   */
.enrollment-container form .field input{
    background: var(--color-info-light);
    outline: none;
    border: none;
    height: 2rem;
    padding: 0 10px;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
    text-transform: capitalize;
}
.enrollment-container form .field input.email{
    text-transform: lowercase;
    margin-top: 18.8px;
}
.enrollment-container form .field input.last_name{
    text-transform: uppercase;
}
.enrollment-container form .field select.city{
    margin-top: 10px;
    width: 202.5%;
    z-index: 10;
}
.enrollment-container form .field select.state{
    width: 100%;
}
.enrollment-container form .field select{
    background: var(--color-info-light);
    outline: none;
    border: none;
    height: 2rem;
    padding: 0 10px;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
}
  
.enrollment-container form button{
    padding: 8px;
    color: red;
    margin-top: 8px;
    border-radius: 5px;
    width: 6vw;
    border: none;
    cursor: pointer;
    background: rgb(236, 212, 212);
}

.email_span p{
    position: absolute;
    color: red;
    display: flex;
    margin-top: -20px;
    font-size: 14px;
    height: 10px;
    width: 20px;
    white-space: nowrap;
}

input[type="file"] {
    position: absolute;
    top: 70px;
    left: 313px;
    z-index: 20;
    background: none;
    cursor: pointer;
}

.field input[type="text"].error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}
.field input[type="email"].error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}
.field input[type="date"].error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}
.enrollment-container .field.selectables .field select.error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}

.enrollment-container .field.address select.error{
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}

.enrollment-container .field select.error{
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}

.moreInfo {
    position: absolute;
    margin: 60px 98px;
    height: 58%;
    width: 50%;
    z-index: 2;
    opacity: 0.93;
    border-radius: 5px;
    background-color: var(--color-white);
    box-shadow: 0rem 0rem 1rem 0.5rem rgb(222, 222, 222, 0.8);
}

.moreInfo .close {
    position: fixed;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    width: 50%;
    height: 32px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.moreInfo .close .close_btn {
    position: absolute;
    display: grid;
    place-items: center;
    top: 6px;
    right: 6px;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.moreInfo .close .close_btn:hover {
    color: red;
}

.moreInfo .dept_table {
    /* background: var(--color-white); */
    /* opacity: 0.9; */
    width: 100%;
    height: 80%;
    margin: 35px 0px;
}

.moreInfo .dept_table .datatables{
    height: 35vh;
}

.moreInfo .dept_table .title{
    font-size: 18px;
}

.moreInfo_form{
    position: absolute;
    background:var(--color-white);
    opacity: 0.93;
    box-shadow: 0rem 0rem 1rem 0.5rem rgb(222, 222, 222, 0.5);
    margin: 60px 65px;
    height: 57%;
    width: 55%;
    overflow: auto;
}

.moreInfo_form::-webkit-scrollbar{
    display: none;
}

.moreInfo_form form{
    background: white;
    height: 90%;
    width: 100%;
}

.moreInfo_form form .form_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.moreInfo_form form .field{
    display: grid;
    grid-template-columns: 1fr;
    padding: 6px;
}

.moreInfo_form form .form_container .hours{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    padding: 6px;
  }
  
.moreInfo_form form .form_container .hours .hours_worked input{
    width: 100%;
    padding: 10px;
    display: flex;
}

.moreInfo_form form .form_container .hours .over_time {
    white-space: nowrap;
}

.moreInfo_form form .form_container .hours .over_time input{
    display: flex;
    width: 100%;
    padding: 10px;
}

.moreInfo_form form .form_container .field.contract input{
    width: 100%;
}

.moreInfo_form form .form_container .field.email input{
    text-transform: lowercase;
  }

.moreInfo_form .close {
    position: fixed;
    /* background-color: red; */
    background: var(--color-white);
    box-shadow: 0rem 0rem 0.2rem 0rem rgb(222, 222, 222, 0.8);
    width: 55%;
    height: 32px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: -32px;
}

.moreInfo_form .close .close_btn {
    position: absolute;
    display: grid;
    place-items: center;
    top: 6px;
    right: 6px;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;   
}

.moreInfo_form .close .close_btn:hover{
    color: red;
}

.moreInfo_form form .form_container {
    margin-top: 32px;
}

.header_check {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=checkbox]{
    /* appearance: none; */
    background-color: #fff;
    cursor: pointer;
    font: inherit;
    color: currentColor;
    margin: 3px 3px 0px 0px;
    width: 1.10em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

.date_range{
    position: absolute;
    top: 60px;
}

.date_range .dates{
    position: absolute;
    cursor: pointer;
    z-index: 100;
    white-space: nowrap;
    color: var(--color-info-dark);
    border-radius: 5px;
    padding: 10px;
    border: 0.5px solid rgb(215, 215, 215);
}


.date_range p{
    position: absolute;
    margin-top: -20px;
    color: rgb(254, 129, 129);
}

.date_range .staff_id {
    width: 50%;
    height: 50%;
    margin: 0px 10px 0px 0px;
    white-space: nowrap;
    color: var(--color-info-dark);
    background: none;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(215, 215, 215);
}

.date_range .range{
    position: absolute;
    z-index: 100;
    top: 100px;
    box-shadow: var(--box-shadow);
    left: 10px;
}

.filter_error .error_message{
    margin-top: -20px;
}

.emp_att {
    position: absolute;
    margin: 36px 35px;
    height: 64%;
    width: 60%;
    z-index: 2;
    opacity: 0.9;
    border-radius: 5px;
    background: var(--color-white);
    box-shadow: 0rem 0rem 1rem 0.5rem rgb(222, 222, 222, 0.8);
}

.emp_att .close {
    position: fixed;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    width: 60%;
    height: 32px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.emp_att .close .close_btn {
    position: absolute;
    display: grid;
    place-items: center;
    top: 6px;
    right: 6px;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.emp_att .close .close_btn:hover {
    color: red;
}

.emp_att .filtertable{
    width: 100%;
    height: 100%;
    margin-top: 35px;
}

.emp_att .filtertable .datatables {
    height: 50vh;
}

.printEmp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 68px;
    right: 180px;
}

.printEmp .printEmp_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding: 5px;
    border-radius: 50%;
    color: black;
    background: var(--color-white);
    box-shadow: 0rem 0rem 0.7rem 0rem rgb(222, 222, 222, 0.8);
    transition: all 300ms ease;
}

.printEmp .printEmp_icon:hover{
    cursor: pointer;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(136, 136, 136, 0.8);
}

.printPayroll{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 68px;
    right: 120px;
}

.printPayroll .printPayroll_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding: 5px;
    border-radius: 50%;
    color: black;
    background: var(--color-white);
    box-shadow: 0rem 0rem 0.7rem 0rem rgb(222, 222, 222, 0.8);
    transition: all 300ms ease;
}

.printPayroll .printPayroll_icon:hover{
    cursor: pointer;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(136, 136, 136, 0.8);
}

.printAttHistory{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 68px;
    right: 120px;
}

.printAttHistory .printAttHistory_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding: 5px;
    border-radius: 50%;
    color: black;
    background: var(--color-white);
    box-shadow: 0rem 0rem 0.7rem 0rem rgb(222, 222, 222, 0.8);
    transition: all 300ms ease;
}

.printAttHistory .printAttHistory_icon:hover{
    cursor: pointer;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(136, 136, 136, 0.8);
}

.employeeFilterMainContainer {
    height: 40vh;
}

.employeeFilterMainContainer .employeeFilterTable{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 76vh;
    border-radius: 5px;
    transition: all 300ms ease;
    /* background-color: var(--color-white); */
    box-shadow: 0rem 0rem 1rem 0.5rem rgb(222, 222, 222, 0.3);
}

.employeeFilterMainContainer .employeeFilterSelect{
    position: absolute;
    top: 70px;
    left: 325px;
    z-index: 20;
    width: 230px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--color-white);
    box-shadow: 0rem 0rem 0.3rem 0rem rgba(136, 136, 136, 0.6);
}

.employeeFilterMainContainer .employeeFilterInput{
    position: absolute;
    top: 70px;
    left: 600px;
    z-index: 20;
    width: 230px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background: var(--color-white);
    box-shadow: 0rem 0rem 0.3rem 0rem rgba(136, 136, 136, 0.6);
}

.employeeFilterMainContainer .employeeFilterInput_close{
    position: absolute;
    top: 77px;
    left: 809px;
    z-index: 20;
    font-size: 16px;
    transition: 0.5s ease;
}

.employeeFilterMainContainer .employeeFilterInput_close:hover{
    color: red;
    cursor: pointer;
}

.printemployeeFilter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 68px;
    right: 120px;
}

.printemployeeFilter .printemployeeFilter_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding: 5px;
    border-radius: 50%;
    color: black;
    background: var(--color-white);
    box-shadow: 0rem 0rem 0.7rem 0rem rgb(222, 222, 222, 0.8);
    transition: all 300ms ease;
}

.printemployeeFilter .printemployeeFilter_icon:hover{
    cursor: pointer;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(136, 136, 136, 0.8);
}