.transfer {
    position: absolute;
    z-index: 20;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    right: 6.5%;
    top: 39.5%;
    width: 30%;
    height: 53.3%;
    border-radius: 5px;
}

.transfer form{
    margin-top: 30px;
}
.transfer .cancel {
    position: fixed;
    background: var(--color-white);
    box-shadow: 0rem 0.1rem 0rem 0rem rgb(222, 222, 222, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 30%;
    height: 32px;
    margin: -67.8px 38.5px 0px 0px;
}
.transfer .cancel .cancel_btn {
    position: absolute;
    display: grid;
    place-items: center;
    top: 6px;
    right: 6px;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}
.transfer .cancel .cancel_btn:hover{
    color: red;
}

.transfer .field{
    padding: 0px 6px;
    margin-top: 12px;
}

.transfer .field input{
    width: 100%;
}

/* edit */

.edit {
    position: absolute;
    z-index: 20;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    right: 6.5%;
    top: 39%;
    width: 30%;
    height: 54%;
    overflow: auto;
    border-radius: 5px;
}

.edit .cancel {
    position: fixed;
    background: var(--color-white);
    box-shadow: 0rem 0.1rem 0rem 0rem rgb(222, 222, 222, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 30%;
    height: 32px;
    margin: -67.8px 38.5px 0px 0px;
}

.edit .cancel .cancel_btn {
    position: absolute;
    display: grid;
    place-items: center;
    top: 6px;
    right: 6px;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}
.edit .cancel .cancel_btn:hover{
    color: red;
}

.edit form{
    margin-top: 38px;
}

.edit::-webkit-scrollbar {
    display: none;
}
.edit form .field{
    padding: 0px 6px;
    margin-top: 8px;
}

.edit .field input{
    width: 100%;
    text-transform: capitalize;
    color: black;
}
.edit .field label{
    color: black;
}

.error_message{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    right: 32%;
    background-color: rgb(248, 233, 233);
    color: var(--color-danger);
    border: 1px solid red;
    border-radius: 5px;
    width: 30vw;
    height: 8vh;
    transition: 0.5s ease-in;
}
.success_message{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    right: 32%;
    background-color: rgb(230, 255, 230);
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    width: 30vw;
    height: 8vh;
    transition: 0.5s ease-in;
}

.transfer form select.error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}
.edit form input.error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}
.edit form select.error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}

.move{
    color: blue;
    background-color: rgb(227, 227, 252);
    padding: 8px;
    border-radius: 5px;
    width: 6vw;
    border: none;
    cursor: pointer;
}

.transfer .field select{
    background: var(--color-info-light);
    outline: none;
    border: none;
    height: 2rem;
    padding: 0 10px;
    font-size: 1rem;
    margin: 9px 0px;
    width: 100%;
    border-radius: var(--border-radius-1);
}

.edit .field select{
    background: var(--color-info-light);
    outline: none;
    border: none;
    height: 2rem;
    padding: 0 10px;
    font-size: 1rem;
    margin: 9px 0px;
    width: 100%;
    border-radius: var(--border-radius-1);
}

.edit form .field button{
    margin-top: 25px;
}
.edit form .field .last_name{
    text-transform: uppercase;
}
.transfer form .field button{
    margin-top: 20px;
}

.employee-container{
    height: 40vh;
}

.single_employee_container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 110px 30px;
    height: 76vh;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: auto;
}

.single_employee_container::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.single_employee_container::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: var(--color-info-light); 
}
.single_employee_container::-webkit-scrollbar-thumb:hover{
    background: #a2a2a2; 
}

.single_employee_container .profileEdit{
    position: absolute;
    z-index: 10;
    padding: 8px;
}

.single_employee_container .options{
    position: fixed;
    background: var(--color-white);
    box-shadow: 0rem 0.1rem 0rem 0rem rgb(222, 222, 222, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 40px;
    width: 68.77%;
}

.single_employee_container .options ul{
    display: flex;
    justify-content: end;
}

.single_employee_container .options ul li{
    padding: 5px 20px;
}

.print_button_hover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -42px;
    right: 0px;
}

.print_button_hover .print_button_hover_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding: 5px;
    border-radius: 50%;
    color: black;
    background: var(--color-white);
    box-shadow: 0rem 0rem 0.7rem 0rem rgb(222, 222, 222, 0.8);
    transition: all 300ms ease;
}

.print_button_hover .print_button_hover_icon:hover{
    cursor: pointer;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(136, 136, 136, 0.8);
}

.single_employee_container .options ul li.edit_button_hover{
    background-color: rgb(246, 246, 218);
    color: rgb(156, 156, 6);
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    transition: 0.3s ease;
}
.single_employee_container .options ul li.edit_button_hover:hover{
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(196, 188, 116, 0.5);
}

.single_employee_container .options ul li.transfer_button_hover{
    background-color: rgb(194, 194, 248);
    color: blue;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s ease;
}
.single_employee_container .options ul li.transfer_button_hover:hover{
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(138, 167, 253, 0.5);
}

.single_employee_container .options ul li.unenroll_button_hover{
    background-color: rgb(246, 194, 194);
    color: red;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s ease;
}
.single_employee_container .options ul li.unenroll_button_hover:hover{
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(252, 147, 135, 0.5);
}

.single_employee_container .info{
    margin-top: 40px;
}

.single_employee_container .top form{
    display: grid;
    grid-template-columns: 49% 50%;
    /* white-space: nowrap; */
}

.single_employee_container .top form .field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8px;
}

.single_employee_container .top form .left{
    display: grid;
    grid-template-columns: 1fr;
    /* border-right: 1px dashed var(--color-info-light); */
}

.single_employee_container .top form .left .field p{
    margin: 0px -60px;
}

.single_employee_container .top form .right {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
}

.single_employee_container .top form .right .field p{
    margin-left: -20px;
}

.single_employee_container .top form .right .field p.active_status{
    background-color: rgb(210, 253, 210);
    color: green;
    padding: 5px;
    border-radius: 5px;
    height: auto;
    width: 100%;
}
.single_employee_container .top form .right .field p.leave_status{
    background-color: rgb(246, 246, 218);
    color: rgb(156, 156, 6);
    padding: 5px;
    border-radius: 5px;
    height: auto;
    width: 100%;
}
.single_employee_container .top form .right .field p.terminated_status{
    background-color: rgb(251, 204, 204);
    color: red;
    padding: 5px;
    border-radius: 5px;
    height: auto;
    width: 100%;
}

.single_employee_container .bottom{
    margin: 10px 8px;
    border-top: 1px solid var(--color-info-light);
}

.single_employee_container .bottom table{
    border-collapse: collapse;
    width: 100%;
}

.single_employee_container .bottom table th , td{
    padding: 8.9px 0px;
    text-align: left;
}

/* .single_employee_container .bottom table tr{
    border-bottom: 1px solid #ddd;
}
.single_employee_container .bottom table tr:last-child{
    border-bottom: none;
} */

@media print {
    .printout_cont {
      display: block !important;
    }
  }

.printout_cont{
    position: absolute;
    left: -30px;
    right: 0;
    top: 30px;
    display: none;
}


.printout{
    position: absolute;
    right: 0;
    top: 12px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    width: 100vw;
    height: 95vh;
    background: var(--color-white);
}
.printout_cont .printout h1{
    position: absolute;
    margin-top: -35px;
    margin-left: 8px;
}

.printout .form_1 form{
    margin: 8px;
    width: 100%;
}

.printout .form_1 form .field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

.printout .form_1 form .field p{
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    margin-left: -100px;
}

.printout .form_1 form .field label{
    white-space: nowrap;
    font-size: 14px;
}

.printout .form_2 form{
    margin-right: 8px;
    width: 100%;
}

.printout .form_2 form .field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

.printout .form_2 form .field p{
    font-weight: 400;
    font-size: 14px;
    margin-left: -10px;
    white-space: nowrap;
}

.printout .form_2 form .field label{
    white-space: nowrap;
    font-size: 14px;
}

.printout .desc{
    margin-top: -360px;
    width: 50vw;
}

.printout .desc table{
    margin-top: 240px;
    border-collapse: collapse;
    width: 200%;
}

.printout .desc table th , td{
    padding: 8.9px 5px;
    text-align: left;
}