.transfer {
    position: absolute;
    z-index: 20;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    right: 32%;
    top: 25%;
    width: 30%;
    height: 54%;
    border-radius: 5px;
}

.transfer form{
    margin-top: 30px;
}
.transfer .cancel {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}
.transfer .cancel:hover{
    color: red;
    transition: 0.2s ease;
}
.transfer_button {
    position: absolute;
    right: 47.9%;
    top: 90.5%;
    z-index: 10;
}
.transfer .field{
    padding: 0px 8px;
    margin-top: 12px;
}

.transfer .field input{
    width: 100%;
}
.transfer .field input.email{
    text-transform: lowercase;
}

/* edit */
.edit {
    position: absolute;
    z-index: 20;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    right: 32%;
    top: 25%;
    width: 30%;
    height: 54%;
    overflow: auto;
    border-radius: 5px;
}

.edit .cancel {
    position: fixed;
    background: var(--color-white);
    width: 30%;
    height: 32px;
}

.edit .cancel .cancel_btn {
    position: absolute;
    display: grid;
    place-items: center;
    top: 6px;
    right: 6px;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}
.edit .cancel .cancel_btn:hover{
    color: red;
}

.edit form{
    margin-top: 35px;
}

.edit button {
    margin-bottom: 10px;
}
.edit::-webkit-scrollbar {
    display: none;
}
.edit .field{
    padding: 0px 8px;
    margin-top: 12px;
}

.edit .field input{
    width: 100%;
    text-transform: capitalize;
    color: black;
}
.edit .field label{
    color: black;
}

.error_message{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    right: 32%;
    background-color: rgb(248, 233, 233);
    color: var(--color-danger);
    border: 1px solid red;
    border-radius: 5px;
    width: 30vw;
    height: 8vh;
    transition: 0.5s ease-in;
}
.success_message{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    right: 32%;
    background-color: rgb(230, 255, 230);
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    width: 30vw;
    height: 8vh;
    transition: 0.5s ease-in;
}
.single_employee_container{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 30px;
    place-items: center;
    /* background: red; */
    width: 100%;
    height: 50vh;
    margin: 100px 30px;
}

.single_employee_container .single_employee_update{
    /* background: blue; */
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    width: 100%;
    height: 80vh;
    border-radius: 7px;
}

.single_employee_container .single_employee_update .field{
    display: grid;
    grid-template-columns: 1fr;
    padding: 11px 8px;
    margin-bottom: -10px;
}

.single_employee_container .single_employee_update .field input,select{
    background: var(--color-info-light);
    outline: none;
    border: none;
    height: 2rem;
    padding: 0 10px;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
}
.single_employee_container .single_employee_update .field select{
    margin: 10px 0px;
}
.single_employee_container .single_employee_update .field button{
    margin: 25px 0px;
}

.single_employee_container .single_employee_info{
    /* background: purple; */
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 80vh;
    margin-left: 5px;
    border-radius: 7px;
    transition: all 300ms ease;
}

.single_employee_container .single_employee_info:hover{
    box-shadow: none;
}

.single_employee_container .single_employee_info .profile_icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: green; */
    width: 100%;
    height: 32%;
    padding: 10px;
    font-size: 100px;
}

.single_employee_container .single_employee_info .profile_icon .uneroll{
    position: absolute;
    right: 148px;
}

.single_employee_container .single_employee_info .profile_icon .icon{
    display: grid;
    place-items: center;
    /* background: pink; */
    padding: 10px;
    border-radius: 50%;
    margin-bottom: -30px;
    transition: all 300ms ease;
}

.single_employee_container .single_employee_info .profile_icon .icon:hover{
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.single_employee_container .single_employee_info .single_employee_org_info{
    /* background: gray; */
    padding: 15px;
    margin-top: 20px;
}

.single_employee_container .single_employee_info .single_employee_org_info form .field{
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
}
.single_employee_container .single_employee_info .single_employee_org_info form .field input{
   text-transform: capitalize;
}
.single_employee_container .single_employee_info .single_employee_org_info form .field input.email{
   text-transform: lowercase;
}

.single_employee_container .field input[type="text"].error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}
.transfer form select.error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}
.edit form input.error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}
.edit form select.error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}

.move{
    color: blue;
    background-color: rgb(227, 227, 252);
    padding: 8px;
    border-radius: 5px;
    width: 6vw;
    border: none;
    cursor: pointer;
}

.transfer .field select{
    background: var(--color-info-light);
    outline: none;
    border: none;
    height: 2rem;
    padding: 0 10px;
    font-size: 1rem;
    margin: 9px 0px;
    width: 100%;
    border-radius: var(--border-radius-1);
}

.edit .field select{
    background: var(--color-info-light);
    outline: none;
    border: none;
    height: 2rem;
    padding: 0 10px;
    font-size: 1rem;
    margin: 9px 0px;
    width: 100%;
    border-radius: var(--border-radius-1);
}

.edit form .field button{
    margin-top: 25px;
}
.edit form .field .last_name{
    text-transform: uppercase;
}
.transfer form .field button{
    margin-top: 20px;
}