.loans_container{
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 10px;
    place-items: center;
    /* background: purple; */
    width: 100%;
    height: 60vh;
    margin: 80px 30px;
}

.loans_container .loan-form{
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    /* background: red; */
    width: 100%;
    height: 80vh;
    border-radius: 7px;
    overflow-x: auto;
}

.loans_container .loan-form::-webkit-scrollbar{
    display: none;
}

.loans_container .loan-form form{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2px;
    margin-bottom: -10px;
}

.loans_container .loan-form form .field{
    display: grid;
    grid-template-columns: 1fr;
    padding: 6px;
    margin-bottom: -10px;
}

.loans_container .loan-form form .field textarea{
    background: var(--color-info-light);
    outline: none;
    padding: 10px;
    border: none;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
}

.loans_container .loan-form form .field .duration{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: 8px;
}

.loans_container .loan-form form .field .duration input{
    width: 134px;  
    text-align: center;
}

.loans_container .loan-table{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 68px;
    height: 80vh;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    transition: all 300ms ease;
    /* background: blue; */
    /* background: red; */
    /* background: red; */
}