.loans_container{
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 10px;
    place-items: center;
    /* background: purple; */
    width: 100%;
    height: 60vh;
    margin: 95px 30px;
}

.loans_container .loan-form{
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    /* background: red; */
    width: 100%;
    height: 75vh;
    border-radius: 7px;
    overflow-x: auto;
}

.loans_container .loan-form::-webkit-scrollbar{
    display: none;
}

.loans_container .loan-form form{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2px;
    margin-bottom: -10px;
}

.loans_container .loan-form form .field{
    display: grid;
    grid-template-columns: 1fr;
    padding: 6px;
    margin-bottom: -10px;
}

.loans_container .loan-form form .field textarea{
    background: var(--color-info-light);
    outline: none;
    padding: 10px;
    border: none;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
    text-transform: capitalize;
}

.loans_container .loan-form form .field .duration{
    margin: 10px 0px;
}

.loans_container .loan-form form .field .duration .dates{
    display: inline-block;
    color: var(--color-info-dark);
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    background: var(--color-info-light);
    border: 0.5px solid rgb(215, 215, 215);
    white-space: nowrap;
    text-align: left;
}
.loans_container .loan-form form .field .duration .daterange{
    position: absolute;
    z-index: 10;
    top: 25%;
    right: 20%;
}

.loans_container .loan-form form .field input.email{
    text-transform: lowercase;
}

.loans_container .loan-table{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 68px;
    height: 75vh;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    transition: all 300ms ease;
    /* background: blue; */
    /* background: red; */
    /* background: red; */
}

.loan-form form .field textarea.error{
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}