.emp-container{
    height: 56vh;
    width: 95%;
}

.emp-container .table{
    display: flex;
    flex-direction: column;
    margin: 110px 30px;
    height: 76vh;
    width: 100%;
    /* background: blue; */
    /* background: red; */
    border-radius: 5px;
    /* background: red; */
}