.empFilter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 45px;
    top: 55%;
}

.empFilter .empFilter_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    color: black;
    background: var(--color-white);
    box-shadow: 0rem 0rem 0.7rem 0rem rgb(222, 222, 222, 0.8);
    transition: all 300ms ease;
}

.empFilter .empFilter_icon:hover{
    cursor: pointer;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(136, 136, 136, 0.8);
}