.search-by-date-time{
    margin: 100px 15px;
}
.report-table{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin:-80px 16px;
    width: 63%;
    height: 70vh;
    overflow: auto;
    /* background: blue; */
    /* background: red; */
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    /* background: red; */
}

.report-container .search-by-date-time .daterange{
    position: absolute;
    z-index: 10;
}

.report-container .search-by-date-time .headerSearchText {
    color: var(--color-info-dark);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    border: 0.5px solid rgb(215, 215, 215);
}