.search-by-date-time{
    margin: 100px 0;
}

.search-by-date-time form input{
    margin: 0 15px;
    text-align: center;
}

.report-table{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin:-80px 16px;
    width: 65%;
    height: 70vh;
    overflow: auto;
    /* background: blue; */
    /* background: red; */
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    /* background: red; */
}