.report-container{
    height: 40vh;
}

.search-by-date-time{
    position: absolute;
    top: 69px;
    left: 308px;
}
.report-table{
    display: flex;
    flex-direction: column;
    /* background: red; */
    margin: 110px 30px;
    height: 76vh;
    width: 95%;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    /* background: red; */
}

.report-container .search-by-date-time .daterange{
    position: absolute;
    z-index: 10;
    top: 94px;
    left: 10%;
    border-radius: 5px;
}

.report-container .search-by-date-time .headerSearchText {
    margin: 0px 14px;
    color: var(--color-info-dark);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    border: 0.5px solid rgb(215, 215, 215);
}