.dept-container{
    display: flex;
    justify-content: space-between;
    margin: 80px 30px;
    height: 40vh;
    /* background: blue; */
}

.dept-container .dept-left{
    display: flex;
    flex-direction: column;
    /* background: red; */
    width: 43%;
    border-radius: 5px;
}

.dept-container .dept-left .dept-left-top form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    border-radius: 7px;
    margin-bottom: 19px;
}

.dept-container .dept-left .dept-left-top form:hover{
    box-shadow: none;
}

.dept-container .dept-left .dept-left-middle form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    border-radius: 5px;
    margin-top: -5px;
}

.dept-container .dept-left .dept-left-middle form:hover{
    box-shadow: none;
}

.dept-container .dept-left .dept-left-bottom form{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    border-radius: 5px;
    margin-top: 13px;
    height: 10rem;
    overflow-y: auto;
}

.dept-container .dept-left .dept-left-bottom form input{
    margin-right: 10px;
}

.dept-container .dept-left .dept-left-bottom form .dept_name{
    width: 100%;
    height: 2rem;
}

.dept-container .dept-left .dept-left-bottom form .emp_email{
    width: 100%;
    height: 2rem;
}

.dept-container .dept-left .dept-left-bottom form::-webkit-scrollbar{
    display: none;
}

.dept-container .dept-left .dept-left-bottom form .assign{
    position: absolute;
    padding: 10px;
    transition: all 300ms ease;
    border-radius: 5px;
    margin: 110px 0px;
}

.dept-container .dept-right{
    display: flex;
    flex-direction: column;
    /* background: red; */
    width: 54%;
    height: 80vh;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.edit{
    color: rgb(156, 156, 6);
    background-color: rgb(247, 247, 231) ;
}

.units{
    color: purple;
    background-color: rgb(251, 240, 255);
}

.hod{
    color: var(--color-dark-variant);
    transition: all 300ms ease;
}

.hod:hover{
    color: black;
}

input{
    margin: 10px 0;
    background: var(--color-info-light);
    color: var(--color-muted);
    outline: none;
    border: none;
    height: 2rem;
    padding: 0 10px;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
}

button{
    padding: 8px;
    margin-top: 18px;
    color: red;
    border-radius: 5px;
    width: 6vw;
    border: none;
    cursor: pointer;
    background: rgb(236, 212, 212);
}