.dept_container{
    height: 40vh;
}

.dept{
    display: flex;
    flex-direction: column;
    /* background: red; */
    margin: 110px 30px;
    height: 76vh;
    width: 95%;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.dept .plus{
    position: absolute;
    display: grid;
    place-items: center;
    padding: 8px;
    top: 69px;
    right: 120px;
    font-size: 20px;
    background-color: var(--color-white) ;
    box-shadow: 0 0rem 2rem rgb(128, 128, 128, 0.2);
    border-radius: 50%;
    cursor: pointer;
}

.dept .dept_popup{
    position: absolute;
    top: 190px;
    right: 130px;
    z-index: 100;
    /* height: 50%; */
    max-height: 62.8%;
    overflow-y: auto;
    width: 27%;
    background-color: var(--color-white) ;
    /* box-shadow: var(--box-shadow); */
    box-shadow: 0rem 0rem 1rem 0.5rem rgb(222, 222, 222, 0.8);
    border-radius: 5px;
}

.dept .dept_popup::-webkit-scrollbar{
    width: 5px;
}

.dept .dept_popup::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: var(--color-info-light); 
}

.dept .dept_popup .button{
    margin: 20px 0px 8px 8px;
}

/* span{
    cursor: pointer;
} */

.dept .dept_popup .close{
    position: fixed;
    background: var(--color-white);
    width: 27%;
    height: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0rem 0.1rem 0rem 0rem rgb(222, 222, 222, 0.5);
}

.dept .dept_popup .close .close_icon{
    position: absolute;
    display: grid;
    place-items: center;
    top: 6px;
    right: 6px;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.dept .dept_popup .close .close_icon:hover{
    color: red;
}

.dept .dept_popup .dept_popup_container {
    margin-top: 35px;
}

.dept .dept_popup .field{
    margin: 0px 8px;
}

.dept .dept_popup .field input{
    width: 100%;
}

.dept .dept_popup .field span.add_hod{
    font-size: 13px;
    transition: 0.4s ease;
}

.dept .dept_popup .field span.add_hod:hover{
   color: green;
}

.dept .dept_popup .field span.add_unit{
    font-size: 13px;
    transition: 0.4s ease;
    cursor: pointer;
}

.dept .dept_popup .field span.add_unit:hover{
    color: green;
}

.dept .dept_popup .field span .unit_close{
    position: absolute;
    font-size: 15px;
    right: 15px;
    margin-top: 18.5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.dept .dept_popup .field span .unit_close:hover{
    color: red;
}

.dept .list_units{
    position: absolute;
    z-index: 100;
    width: 45%;
    top: 161px;
    left: 584px;
    border-radius: 5px;
    z-index: 200;
    /* background-color: red; */
    height: 67.7vh;
    background-color: var(--color-white);
    box-shadow: 0rem 0rem 1rem 0rem rgb(222, 222, 222)
}

.dept .list_units .datatables{
    width: 100%;
    height: 49.3vh;
    overflow: auto;
}

.dept .list_units .unit_plus{
    margin: -5px 10px;
    background-color: var(--color-background);
    box-shadow: 0rem 0rem 0.2rem 0rem rgb(138, 138, 138);
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer; 
    transition: 0.3s ease;
}

.dept .list_units .dept_name{
    z-index: 100;
}

.dept .list_units .unit_plus:hover{
    box-shadow: 0rem 0rem 0.4rem 0rem rgb(138, 138, 138);
}

.dept .list_units .datatables::-webkit-scrollbar{
    display: none;
}

.dept .list_units .unitlist_close{
    position: absolute;
    z-index: 100;
    font-size: 20px;
    top: 6px;
    right: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.dept .list_units .unitlist_close:hover{
    color: red;
}

.dept .popup{
    position: absolute;
    z-index: 100;
    top: 205px;
    right: 130px;
    width: 25%;
    height: 18.4%;
    border-radius: 5px;
    background-color: var(--color-white);
    box-shadow: 0rem 0rem 1rem 0.5rem rgb(222, 222, 222, 0.8)
}

.dept .popup form{
    padding: 2px 5px;
}
.dept .popup .popup_input{
    margin-top: 32px;
    width: 100%;
}

.dept .popup .popup_input.email{
    text-transform: lowercase;
}

.dept .popup .popup_close{
    position: fixed;
    display: inline-block;
    z-index: 100;
    padding: 5px 0px;
    height: 28px;
    width: 25%;
    transition: 0.3s ease;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: var(--color-white);
    box-shadow: 0rem 0.1rem 0rem 0rem rgb(222, 222, 222, 0.5);
}

.dept .popup .popup_close .popup_close_icon{
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.dept .popup .popup_close .popup_close_icon:hover{
    color: red;
}

.dept .list_units button.edit_unit{
    width: 80px;
    height: 31px;
    padding: 10px;
    margin-top: -2px;
    color: rgb(156, 156, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    background-color: rgb(247, 247, 231);
}

.dept .add_unit_poppup{
    position: absolute;
    z-index: 200;
    top: 310px;
    right: 130px;
    width: 25%;
    max-height: 43%;
    overflow: auto;
    border-radius: 5px;
    background-color: var(--color-white);
    padding: 0px 8px;
    box-shadow: 0rem 0rem 1rem 0.5rem rgb(222, 222, 222, 0.8)
}

.dept .add_unit_poppup::-webkit-scrollbar{
    display: none;
}

.dept .add_unit_poppup input{
    position: relative;
    width: 100%;
}

.dept .add_unit_poppup .popup_close{
    position: fixed;
    font-size: 20px;
    z-index: 110;
    top: 315px;
    right: 135px;
    cursor: pointer;
    transition: 0.3s ease;
}

.dept .add_unit_poppup .popup_close:hover{
    color: red;
}

.dept .add_unit_poppup form .add_unit{
    position: fixed;
    display: inline-block;
    z-index: 100;
    padding: 8px;
    margin-left: -8px;
    background: var(--color-white);
    width: 25%;
    transition: 0.3s ease;
    cursor: pointer;
    height: 32px;
    box-shadow: 0rem 0.1rem 0rem 0rem rgb(222, 222, 222, 0.5);
}

.dept .add_unit_poppup form .add_unit:hover{
    color: green;
}

.dept .add_unit_poppup button{
    margin: 8px 0px;
}

.dept .add_unit_poppup .field span .unit_close{
    position: absolute;
    font-size: 15px;
    right: 15px;
    margin-top: 18.5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.dept .add_unit_poppup .field span .unit_close:hover{
    color: red;
}

.dept .edit_popup{
    position: absolute;
    z-index: 230;
    top: 310px;
    right: 130px;
    width: 25%;
    height: 18.4%;
    border-radius: 5px;
    background-color: var(--color-white);
    box-shadow: 0rem 0rem 1rem 0.5rem rgb(222, 222, 222, 0.8)
}

.dept .edit_popup form{
    padding: 2px 5px;
}

.dept .edit_popup .popup_close{
    position: fixed;
    display: inline-block;
    z-index: 100;
    padding: 1px;
    height: 28px;
    width: 25%;
    transition: 0.3s ease;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: var(--color-white);
    box-shadow: 0rem 0.1rem 0rem 0rem rgb(222, 222, 222, 0.5);
}

.dept .edit_popup .popup_close .popup_close_icon{
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.dept .edit_popup .popup_close .popup_close_icon:hover{
    color: red;
}

.dept .edit_popup input{
    margin-top: 32px;
    width: 100%;
}


.dept button.edit{
    width: 80px;
    height: 31px;
    padding: 10px;
    margin: -10px 35px;
    color: rgb(156, 156, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    background-color: rgb(247, 247, 231);
}

.units{
    color: purple;
    margin-top: -1px;
    background-color: rgb(251, 240, 255);
}

.assign{
    color: green;
    margin-top: -1px;
    background-color: rgb(226, 240, 226);
}

.hod{
    margin-top: -1px;
    color: var(--color-dark-variant);
    transition: all 300ms ease;
}

.hod:hover{

    cursor: pointer;
}

input{
    margin: 10px 0;
    background: var(--color-info-light);
    color: var(--color-muted);
    outline: none;
    border: none;
    height: 2rem;
    padding: 0 10px;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
    text-transform: capitalize;
}

button{
    padding: 8px;
    margin-top: -1px;
    color: red;
    border-radius: 5px;
    width: 6vw;
    border: none;
    cursor: pointer;
    background: rgb(236, 212, 212);
}

input.error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
}
/* select.error {
    border: 1px solid var(--color-danger);
    background-color: rgb(248, 234, 234);
    color: var(--color-danger);
} */

.hod_pop_container{
    position: absolute;
    display: flex;
    top: 200px;
    right: 125px;
    width: 25%;
    height: 200px;
    background-color: var(--color-white);
    box-shadow: 0rem 0rem 1rem 0.2rem rgba(176, 176, 176, 0.3);
    z-index: 20;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

.hod_pop_container::-webkit-scrollbar{
    height: 5px;
}
.hod_pop_container::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: var(--color-info-light); 
}

.hod_pop_container .close{
    position: fixed;
    display: inline-block;
    z-index: 100;
    padding: 5px 0px;
    height: 33px;
    width: 25%;
    transition: 0.3s ease;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: var(--color-white);
    box-shadow: 0rem 0.1rem 0rem 0rem rgb(222, 222, 222, 0.5);
}

.hod_pop_container .close .close_icon{
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.hod_pop_container .close .close_icon:hover{
    color: red;
}

.hod_pop_container form {
    margin-top: 30px;
    padding: 10px 6px;
}

.hod_pop_container form .field{
    display: grid;
    white-space: nowrap;
    grid-template-columns: 40% 60%;
    margin-bottom: 13px;
    margin-left: -40px;
}

.hod_pop_container form .field label{
    margin-left: 40px;
}

.hod_pop_container form .field p{
    margin-left: 30px;
}

.hod_pop_container ul{
    position: absolute;
    z-index: 110;
    color: red;
}

.hod_pop_container ul li{
    padding: 2px 5px;
}

.hod_pop_container ul li{
    background-color: rgb(246, 194, 194);
    color: red;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px;
    transition: 0.3s ease;
}
.hod_pop_container ul li:hover{
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(252, 147, 135, 0.5);
}